<p id="notice"><%= notice %></p>

<p>
  <strong>Server:</strong>
  <%= @backup.server %>
</p>

<p>
  <strong>Job:</strong>
  <%= @backup.job %>
</p>

<%= link_to 'Edit', edit_backup_path(@backup) %> |
<%= link_to 'Back', backups_path %>
